* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
}

.body-container {
	max-width: 80%;
	margin: 0 auto;
}

#container {
	width: 90%;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}

.title {
  background-image: url("Ferguson.jpg");
  height: 250px;
}

.site-title {
  font-family: 'Roboto',Helvetica, Arial, sans-serif;
  font-size: 900px;
  font-style: bold;
  color: yellow;
  display: inline;
  white-space: nowrap;
  min-width: 4px;
  width: 4vw;
  height: 5vh;
  margin: auto;
  font-size: 4vw;
  text-align: center;
}

/*NAV BAR*/
/*nav {
  display: none;
}*/


nav li {
    color: #ffff33;
    list-style-type: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color:  #696969;
}

nav a:link {
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
}

nav a:hover, nav a:active {
  color: #ffff33;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: row;
  background-color: #696969;
  margin: 0;
 }

 .menu {
   color: black;
   font-size: 40px;
   width: 20px;
	 padding-bottom: 20px
}


 nav ul {
   display: none;
 }

@media screen and (min-width: 800px){

    nav ul {
        display: flex;
    }

    nav ul li {
      border-top: none;
    }

    .menu {
      display: none;
    }
}

/*FONT*/
h1 {
  font-family: 'Roboto',Helvetica, Arial, sans-serif;
  color:#ffff33;
  text-shadow: 2px 1px #696969;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #696969;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
	padding-top: 15px;
}

h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #ffff33;
  text-shadow: 2px 1px #696969;
  font-size: 25px;
  text-align: center;
  padding: 5px;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: black;
  padding: 0px 30px;
  font-size: 18px;
}


/*PHOTOS*/
.part-one-image {
 width: 20%;
 align-items: right;
 display: inline;
}

.image1.partfour {
  display: flex;
  margin: 0 auto;
}

.photo {
  width: 100%;
  padding: 0'
}

.photo_aside {
  width: 40%;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.mislan-photo {
  width: 20%;
	display: inline;
	padding-right: 20px;
	padding-bottom: 20px;
	float: left;
	clear: left;
}

.amalia-photo {
  width: 20%;
	display;
	padding-right: 25px;
	padding-bottom: 25px;
	float: left;
	clear: left;
}

@media screen and (max-width: 650px) {
	.mislan-photo, .amalia-photo {
		display: none;
	}

	.about-the-study-p-one, .mislan-bio, .amalia-bio {
		text-align: justify;
	}
}


@media screen and (min-width: 450px /*mobile*/) {
  article {
    display: row;
  }
}

@media screen and (min-width: 800px) {/*desktop ABOUT PAGE!!*/
  .map-all {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 15px;
    grid-template-areas:
    "a b";
  }

 .map1 {
    grid-area: a;
    width: 90%;
    width: 85%;
    width: 85%;
  }

 .map2 {
    grid-area: b;
    width: 90%;
    width: 85%;
    width: 85%;
  }
}

/* grid layout for part 1*/

@media screen and (min-width: 450px /*mobile*/) {
  article {
    display: row;
  }
}

@media screen and (min-width: 800px) {/*desktop ABOUT PAGE!!*/
  .part1maps {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-gap: 25px;
    grid-gap: 25px;
    padding: 15px;
    grid-template-areas:
    "a b";
  }

 .map3 {
    grid-area: a;
    width: 90%;
    width: 85%;
    width: 85%;
  }

 .map4{
    grid-area: b;
    width: 90%;
    width: 85%;
    width: 85%;
  }
}
