<<<<<<< HEAD
=======
body {
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
}

.placeholder {
  width: 100%;
  length: 75%;
}

h1 {
  font-family: 'Julius Sans One',"Times New Roman", sans-serif;
  color:#FFE993;
  text-align: center;
  /*padding: 75px 100px;
  background-image:url("ferguson.jpg");
  background-repeat: no-repeat;*/
}

h2 {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  color: #9DA699;
  text-align: center;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: black;
}

a:visited {
  text-decoration: none;
  color: white;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
}

nav ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

#nav a:link {
  color: #ffffff;
  background-color: #9DA699;
  font-weight: bold;
  text-align: center;
  font-family: "Julius Sans One", Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
}

#nav a:hover, #nav a:active, {
  background-color: #7a991a;
  text-decoration: underline;
}

#nav a:visited {
  color: white;
}

.photo {
  width: 100%;
}

.caption {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-style: italic;
  text-align: left;
  margin-top: 5px;
  font-size: 12px;
}

.photo_aside {
  width: 40%;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.activist_name {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-style: none;
  text-align: center;
}

.quote {
  font-size: 20px;
  font-style: italic;
}


@media all and (min-width: 800px) {/*desktop*/
  .nav-to-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
    "a b"
    "c d"
  }

  nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  nav ul li {
    padding: 0 40px;
    margin: 5px;
  }


#one-research {
  grid-area: a;
}

#one-team {
  grid-area: b;
}

#one-research-photo {
  grid-area: c;
}

#one-research-team {
  grid-area: d;
}

.about-the-study {
  margin-left: 75px;
  margin-right: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas:
  "a a a"
  "b b c"
  "f e e"
  "h h h"
  "i i i"


}

#about-the-study-head{
  grid-area: a;
}

#about-the-study-p-one {
  grid-area: b;
}

#about-the-study-img-one {
  grid-area: c;
}


/*about-the-study-photo-caption-one {
  grid-area: d;*/
}

#about-the-study-p-two {
  grid-area: e;
}

#about-the-study-img-two {
  grid-area: f;
}

/*about-the-study-photo-caption-two {
  grid-area: g;*/
}

#about-the-study-methodology {
  grid-area: h;
  position: center;
}

#about-the-study-methodology-p {
grid-area: i;
}
}

@media all and (min-width: 800px) {/*desktop*/
  .activist-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j"
    "k l"
    "m n"
    "o p"
    "q r"
    "s t"
  }

  #activist-one {
    grid-area: a;
  }

  #activist-two {
    grid-area: b;
  }

  #activist-three {
    grid-area: c;
  }

  #activist-four {
    grid-area: d;
  }

  #activist-five {
    grid-area: e;
  }

  #activist-six {
    grid-area: f;
  }

  #activist-seven {
    grid-area: g;
  }

  #activist-eight {
    grid-area: h;
  }

  #activist-nine {
    grid-area: i;
  }

  #activist-ten {
    grid-area: j;
  }

  #activist-eleven {
    grid-area: k;
  }

  #activist-twelve {
    grid-area: l;
  }

  #activist-thirteen {
    grid-area: m;
  }

  #activist-fourteen {
    grid-area: n;
  }

  #activist-fifteen {
    grid-area: o;
  }

  #activist-sixteen {
    grid-area: p;
  }

  #activist-seventeen {
    grid-area: q;
  }

  #activist-eighteen {
    grid-area: r;
  }

  #activist-nineteen {
    grid-area: s;
  }

  #activist-twenty {
    grid-area: t;
  }
}

@media screen and (min-width: 450px /*mobile*/) {
  article {
    display: row;
  }
}

@media screen and (min-width: 800px/*desktop*/) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
      "a b"
      "c d";
  }

  .map1 {
    grid-area: a;
  }

  .map2 {
    grid-area: b;
  }

  .map3 {
    grid-area: c;
  }

  .map4{
    grid-area: d;
  }
}

>>>>>>> origin/master
