<<<<<<< HEAD
=======
body {
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
}

.placeholder {
  width: 100%;
  length: 75%;
}

h1 {
  font-family: 'Julius Sans One',"Times New Roman", sans-serif;
  color:#FFE993;
  text-align: center;
  /*padding: 75px 100px;
  background-image:url("ferguson.jpg");
  background-repeat: no-repeat;*/
}

h2 {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  color: #9DA699;
  text-align: center;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: black;
  padding: 30px;
}

a:visited {
  text-decoration: none;
  color: white;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
}

nav ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

#nav a:link {
  color: #ffffff;
  background-color: #9DA699;
  font-weight: bold;
  text-align: center;
  font-family: "Julius Sans One", Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
}

#nav a:hover, #nav a:active, {
  background-color: #7a991a;
  text-decoration: underline;
}

#nav a:visited {
  color: white;
}

.photo {
  width: 100%;
}

.caption {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-style: italic;
  text-align: left;
  margin-top: 5px;
  font-size: 12px;
}

.photo_aside {
  width: 40%;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.activist_name {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: none;
  text-align: center;
}

.quote {
  font-size: 20px;
  font-style: italic;
}

.maps {
  width: 100%;
}

@media screen and (min-width: 800px) {/*desktop*/
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f f"
    "g g"
    "h h"
    "i j"
    "k l";
  }

  .about-the-study-head {
    grid-area: a;
    justify-content: center;
  }

  .about-the-study-p-one {
    grid-area: b;
  }

  .about-the-study-img-one {
    grid-area: c;
  }

  .about-the-study-img-two {
    grid-area: d;
  }

  .about-the-study-p-two {
    grid-area: e;
  }

  .methodology {
    grid-area: f;
    justify-content: center;
  }

  .methodology-p {
    grid-area: g;
  }

  .meet-the-team {
    grid-area: h;
  }

  .mislan-photo {
    grid-area: i;
  }

  .mislan-bio {
    grid-area: j;
}

  .amalia-photo {
    grid-area: k;
  }

  .amalia-bio {
    grid-area: l;
  }

}

@media screen and (min-width: 450px /*mobile*/) {
  article {
    display: row;
  }
}

@media screen and (min-width: 800px/*desktop*/) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
      "a b"
      "c d";
  }

  .map1 {
    grid-area: a;
  }

  .map2 {
    grid-area: b;
  }

  .map3 {
    grid-area: c;
  }

  .map4{
    grid-area: d;
  }
}

>>>>>>> origin/master
